@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700&family=Dancing+Script:wght@400;500;600;700&display=swap");

//Paleta requerida/No aplicada
$color-rosa: #99245b;
$color-amarillo: #fecb01;
$color-blanco: #ffffff;
$color-rosa-alter: #be4d58;

//Paleta actual
$main-font: "Raleway", Arial, Helvetica, sans-serif;
$color-ming: #006776;
$color-keppel: #00bfa5;
$color-malachite: #00e676;
$color-cultured: #f2f2f2;
$background-gradient: rgb(168, 37, 99);
$gradient: linear-gradient(
  90deg,
  rgba(168, 37, 99, 1) 0%,
  rgba(251, 189, 57, 1) 80%
);

body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-cultured;
  font-family: $main-font;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  padding-top: 5px;
  width: 250px;
  display: inline-block;
  overflow: hidden;
}

.card {
  width: 18rem;
}

.card-img-top {
  margin-top: 1rem;
  float: left;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

#card-submit {
  width: 36rem;
}

.backgroundHeader {
  background: $background-gradient;
  background: $gradient;
}

.topMargin {
  margin: 25px 0 0 0;
}

.noHype {
  text-decoration: none;
  color: $color-blanco;
  font-weight: bold;
}

.navHover:hover {
  color: $color-amarillo;
  transition-duration: 500ms;
  transform: scale(1.2);
}

.navBackground {
  background: rgb(168, 37, 99);
  background: linear-gradient(
    90deg,
    rgba(168, 37, 99, 1) 0%,
    rgba(251, 189, 57, 1) 80%
  );
}

.dflex {
  display: flex;
}

#home {
  color: $color-blanco;
}

#card-submit {
  width: 36rem;
}

.paragraph {
  font-size: 18px;
  text-align: justify;
}

.btnAccept {
  background: $color-rosa;
  color: $color-blanco;
}

.btnClear {
  background: #E89B43;
  color: $color-blanco;
}

.btnAccept:hover,
.btnAccept:focus {
  box-shadow: 2px 2px 0px #000000;
  transform: translateY(-0.2em);
  color: $color-amarillo;
  transition-duration: 500ms;
  transition-delay: 250ms;
}

.btnClear:hover,
.btnClear:focus {
  box-shadow: 2px 2px 0px #000000;
  transform: translateY(-0.2em);
  color: $color-rosa;
  transition-duration: 500ms;
  transition-delay: 250ms;
}

.card .card-body h4 {
  border-bottom: 2px solid #FBBD39;
  
}
