@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700&family=Dancing+Script:wght@400;500;600;700&display=swap");

//Paleta requerida/No aplicada
$color-rosa: #f9c7f2;
$color-amarillo: #eefa86;
$color-blanco: #ffffff;
$color-celeste: #afc3fa;
$color-marron: #b6a777;
$color-cafe: #ebcaa8;

//Paleta actual
$main-font: "Raleway", Arial, Helvetica, sans-serif;
$color-ming: #006776;
$color-keppel: #00bfa5;
$color-malachite: #00e676;
$color-cultured: #f2f2f2;
$background-gradient: rgb(168, 37, 99);
$gradient: linear-gradient(
  90deg,
  rgba(168, 37, 99, 1) 0%,
  rgba(251, 189, 57, 1) 80%
);

body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-cultured;
  font-family: $main-font;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  padding-top: 5px;
  width: 250px;
  display: inline-block;
  overflow: hidden;
}

.card {
  width: 18rem;
}

.card-img-top {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

#card-submit {
  width: 36rem;
}

.backgroundHeader {
  background: $background-gradient;
  background: $gradient;
}

.topMargin {
  margin: 25px 0 0 0;
}

.noHype {
  text-decoration: none;
  color: black;
}

.navBackground {
  background: rgb(168, 37, 99);
  background: linear-gradient(
    90deg,
    rgba(168, 37, 99, 1) 0%,
    rgba(251, 189, 57, 1) 80%
  );
}

.dflex {
  display: flex;
}

#home {
  color: $color-blanco;
}

#card-submit {
  width: 36rem;
}

.paragraph { 
  font-size: 18px;
  text-align: justify;
}